@model IEnumerable<HerCalendar.Models.CycleTracker> 

@{
    var avg = ViewData["AverageCycleLength"] as int? ?? 0;
}

<h1 class="mt-4 mb-3 pb-2 text-center">🩸 Menstrual Cycle Summary 🩸</h1>
<div class="card border-dark">
    <div class="card-body">
        <table class="table table-sm align-middle text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CycleLength)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LastPeriodStartDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.NextPeriodStartDate)
                    </th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int rowIndex = 0;
                }
                @foreach (var item in Model)
                {
                    var rowClass = rowIndex % 2 == 1 ? "table-active" : "";
                    <tr class="@rowClass">
                        <td>@item.CycleLength days</td>
                        <td>@item.LastPeriodStartDate.ToString("MMM dd, yyyy")</td>
                        <td>@item.NextPeriodStartDate.ToString("MMM dd, yyyy")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark me-1">Edit ✏️</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark me-1">Details 🔍</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Delete ❌</a>
                        </td>
                    </tr>
                    rowIndex++;
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Average Cycle Length: @avg days</h5>
        <a asp-controller="MyCycles" asp-action="Create" class="btn btn-secondary">+ Log a Period</a>
    </div>
</div>

<br />
<br />

@if (ViewBag.EstimatedNextPeriod != null)
{
    <div class="alert alert-danger">
        <h4 class="alert-heading">Next Period Alert! 🚨</h4>
        <strong>Estimated Next Period Date:</strong>
        @(((DateTime)ViewBag.EstimatedNextPeriod).ToString("MMMM dd, yyyy"))<br />

        <strong>Days Until Next Period:</strong>
        @ViewBag.DaysUntilNextPeriod days
    </div>
}


